
@{
    ViewBag.Title = "Buscar";
}

<div class="panel panel-default">
    <div class="panel-body">
        @*  ObtenerArtistas NOMBRE DE LA ACCION*@
        @using (Ajax.BeginForm("ObtenerArtistas",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "resultadoId",
                InsertionMode = InsertionMode.Replace
            }
        ))
        {
            <div class="form-inline" method="post">
                <div class="form-group">
                    <label for="artistaNombre">Artista</label>
                    <input type="text" class="form-control"
                           id="artistaNombre"
                           name="artistaNombre"
                           placeholder="Buscar por nombre de artista"
                           value="@ViewBag.artistaFiltrado">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        }
        <br />
        <div id="resultadoId">

        </div>
    </div>
