body {
	font-family: Arial;
	font-size: 12pt;
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
}

.panel {
    background-color: #00bfff;

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .panel_1 {
        background-color: #FF5733 !important;
    }

    .panel_1 > p {
        color: #FF5733;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .panel_1 {
        background-color: #E3FF33 !important;
    }
    .panel_1 > p {
        color: #ff0000;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .panel_1 {
        background-color: #33FF42 !important;
    }
    .panel_1 > p {
        color: #000000;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .panel_1 {
        background-color: #3361FF !important;
    }
    .panel_1 > p {
        color: #2F2F2F;
    }
}